.main{
    width: 100%;
    height: 860vh;
    background-color: aliceblue;
    
}
.first {
    
    height: 700px;
    width: 100%;
    display: flex;
    background-color: white;
}

.btn1 {
    width: 100px;
    border: 1px solid  rgb(65, 17, 17);
    border-radius: 20px;
    background-color: rgb(65, 17, 17);
    color: whitesmoke;
    margin-left: 20px;
    transform: uppercase;
    cursor: pointer;
    transition: .3s linear;
}
.btn1:hover{
    
    background-color:  rgb(43, 8, 8);
}
.cont {
    margin-top: 60px;
    padding: 20px 0px;
    width: 70%;
}

.cont h1 {
    margin-top: 150px;
    margin-left: 20px;
    padding-bottom: 20px;
    font-size: 35px;
    color: #411111;
}

.cont p {
    text-align:justify;
    margin-left: 20px;
    font-size: 16px;
    color: black;
    font-weight: 500px;
}

.heading{
    font-family: sans-serif;
    margin-top: 60px;
    margin-left: 520px;
    margin-bottom: 90px;
    font-size: 30px;
    color:  rgb(65, 17, 17);font-weight: 600;
}

.img {
    margin-top: 40px;
    width: 60%;

}

.img img {
    height: 600px;
    width: 680px;
}
/* carosuel */
.ban{
    height: 400px;
    width: 100%;
}
/* cart items  */
.third{
    height: 100vh;
    width: 99%;
background-color: white;
}
.third h5{
    font-family: sans-serif;
    padding-top: 20px;
    margin-top: 90px;
    margin-left: 40px;
    margin-bottom: 40px;
    font-weight:400;
    font-size: 25px;
    color:  rgb(65, 17, 17);

}
.home-div{
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    margin-left: 30px;
}
.homediv-img{
    height: 450px;
    width: 300px;
    background-color: rgb(245, 243, 243);
    border: 1px solid gray;
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.25);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    /* padding: 10px; */
}
.homediv-img:hover{
    box-shadow: 0px 5px 15px rgba(46, 4, 4, 0.25);
    border-color: #411111;
    background-color: whitesmoke;
}
.homediv-img img{
    height: 280px;
    width: 280px;
    border-radius: 20px;
    padding: 10px 5px;
    margin-left: 7px;
}
.homediv-img h1{
font-family: sans-serif;
padding: 10px;
font-size: 18px;
padding-left: 80px;
padding-top: 20px;
color: #411111;
font-weight: 500;
}
.homediv-img p{
    font-family: sans-serif;
font-size: 15px;
padding-left:90px ;}
.homediv-img .btn{
    width: 130px;
    border: 1px solid rgb(65, 17, 17);
    border-radius: 20px;
    background:none;
    color: rgb(65, 17, 17);
    font-weight: 500;
    margin-right: 40px;
    transform: uppercase;
    cursor: pointer;
    transition: .3s linear;
    margin-left: 80px;

}
.homediv-img .btn:hover{
    background-color:rgb(65, 17, 17);
    color: whitesmoke;
}
/* offer div style */
.offer{
    height:170vh ;
    width:99% ;
    margin: 10px;
    background-color: white;
}
.offer h1{
    font-family: sans-serif;
    margin-top: 90px;
    padding-top: 20px;
    margin-left: 40px;
    margin-bottom: 40px;
    font-weight:400;
    font-size: 25px;
    color:  rgb(65, 17, 17);

}
.offer .homediv-img h1{
        margin: 0%;
        font-family: sans-serif;
        padding: 10px;
        font-size: 18px;
        padding-left: 80px;
        padding-top: 30px;
        color: rgb(65, 17, 17);
        font-weight: 500;
}
.offer .homediv-img p{
    font-family: sans-serif;
font-size: 15px;
padding-left:100px ;
}
.span-div{
    font-size: 14px;
    font-style: italic;
    text-decoration-line: line-through;
    padding: 15px;
}

/* whislist */
.wishlist-icon {
    position: absolute;
    margin-top: 20px;
   right:  25px;
    color: #f8f4f4;
    font-size: 20px;
    z-index: 2;
    cursor: pointer;
    transition: color 0.3s;

}

.wishlist-icon:hover {
    color:red;
}


/* media queries */

@media screen and (max-width: 768px) {

}