.cart-main{
    display: flex;
    gap: 50px;}
.cart-div{
    height: 200vh;
    width: 100%;
}
.cart-img{
    height: 100px;
    width: 100px;
   margin-top: 20px;
}
.cart-h4{
    font-size: 20px;
    font-family: 'ariel';
    color: rgb(57, 16, 16);
}
.cart-btn{
    width: 90px;
    border: 1px solid rgb(65, 17, 17);
    border-radius: 20px;
    background:none;
    color: rgb(65, 17, 17);
    font-weight: 500;
    transform: uppercase;
    cursor: pointer;
    transition: .3s linear;
    margin-bottom: 10px;

}  .cart-btn:hover{
    background-color:rgb(65, 17, 17);
    color: whitesmoke;
}
.cart-h2{
    margin-bottom: 20px;
    font-size: 40px;
    font-family: 'ariel';
    color: rgb(57, 16, 16);
}
.cart-btn1{
    width: 100px;
    height: 40px;
    border: 1px solid rgb(65, 17, 17);
    border-radius: 20px;
    background:none;
    color: rgb(65, 17, 17);
    font-weight: 500;
    transform: uppercase;
    cursor: pointer;
    transition: .3s linear;
    margin-bottom: 10px;
    margin-top: 20px;

}  .cart-btn1:hover{
    background-color:rgb(65, 17, 17);
    color: whitesmoke;
}
.incre-btn{
    width: 30px;
    height: 30px;
    margin: 10px;
    border: 1px solid rgb(65, 17, 17);
    border-radius: 5px;
    background:none;
    color: rgb(65, 17, 17);
    font-weight: 500;
    transform: uppercase;
    cursor: pointer;
    transition: .3s linear;
}
.incre-btn:hover{
    background-color:rgb(65, 17, 17);
    color: whitesmoke;}

    /* whislist */
    
    
    