*{
    padding: 0%;
    margin: 0%;
}
.Contact-main{
    margin: 0%;
    width: 100%;
    height: 230vh;
}

.contact-div {
    position: relative; 
    height: 400px;
    margin: 0 10px;
    width: 98%;
    overflow: hidden; 
}

.contact-div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../image/models/cloths (2).jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(2px); 
    z-index: 0;
    background-color: #000000; 

}

.contact-div h1,
.contact-div p {
    position: relative;
    z-index: 1; 
}

.contact-div h1 {
    padding-top: 180px;
    margin-left: 500px;
    font-size: 40px;
    font-family: 'Arial', sans-serif;
    font-style: italic;
    font-weight: 700;
    color: rgb(231, 231, 231);
}

.contact-div p {
    margin-left: 540px;
    font-size: 20px;
    color: rgb(33, 32, 32);
    font-family: 'Arial', sans-serif;
    font-style: italic;
    font-weight: 700;
    
}
/* split page */
.tact-div{
    height: 700px;
    width: 100%;
    margin-top: 100px;
    display: flex;
    
}
.navdiv{
    height: 400px;
    width: 50%;
    display: inline-block;
    
}
.navdiv nav{
    
    height: 400px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.navdiv article{
    
    height: 400px;
    width: 100%;
}
.nav-div{
    margin-top: 2px;
    margin-left: 40px;
    height:180px;
    width:250px;
    background-color: rgb(218, 214, 214);
    cursor: pointer;
}
.nav-div h1{
    
    margin-left: 80px;
    margin-top: 20px;
    font-size: 25px;
    font-family: 'ariel';
    font-weight: 200;
    color: rgb(59, 11, 11);
}
.nav-div .nav-icon{
    margin-left: 100px;
margin-top: 40px;
    height: 40px;
    width: 40px;
    color:  rgb(59, 11, 11);
}
/* form style */
.form-div{
    padding-left: 50px;
    height: 800px;
    width: 50%;
    display:inline-block;
}

.form-div h1{
    margin-bottom: 20px;
    font-size: 40px;
    font-family: 'Arial', sans-serif;
    font-style: italic;
    font-weight: 700;
    color: rgb(59, 11, 11) ;
}
.form-div p{
    font-size: 15px;
    color: gray;
    margin-top: 20px;
    margin-bottom: 25px;
}
.form-div input{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    height: 50px;
    width: 500px;
    border: 1px solid  rgb(59, 11, 11);
}
.form-div h5{
    margin:0%;
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    font-style: italic;
    font-weight: 500;
    color: rgb(59, 11, 11) ;
    margin-top: 20px;
}
.form-div textarea{
    margin-top: 10px;
    height: 150px;
    width: 500px;
    border-radius: 10px;
    border: 1px solid  rgb(59, 11, 11);
}
.form-div button{
    width: 500px;
    height: 70px;
    border: 1px solid  rgb(65, 17, 17);
    border-radius: 20px;
    background-color: rgb(65, 17, 17);
    color: whitesmoke;
    margin-top: 40px;
    transform: uppercase;
    cursor: pointer;
}
.form-div button:hover{
    background-color:rgb(33, 6, 6);
    color: whitesmoke;
}