/* main div style */
.about-div{  
    height: 580vh;
    width: 99%;
    display: inline-block;
    margin: 0%;
}
/* image style */
.aboutimg-div{
    display: flex;
    
}

.aboutimg-div img{
    margin-top: 190px;
    height: 600px;
    width: 450px;
    margin-left: 50px;
}
/* p tag style */
.about-p{
    margin-top:190px ;
    margin-left: 90px;
    height: 400px;
    width: 50%;
    align-items: center;
}
.about-p p{
    font-size: 22px;
    font-family: 'ariel';
    color: gray;
    text-align: justify;
    
}
/* heading style */
.about-div h1{
    font-size: 50px;
    font-family:'ariel';
    color: black;
    font-weight: 600;
    margin-top: 20px;
    font-style: italic;
    

}
/* services style */
.serv-div{
    cursor: pointer;
    height: 500px;
    width: 90%;
    display: flex;
    gap: 120px;
    margin-left: 50px;
}
.about-div h1{
    font-size: 40px;
    font-family:'ariel';
    color:rgb(29, 2, 2);
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 1.4;
    text-transform: uppercase;
    font-style: italic;
    margin-left: 450px;
    margin-top: 250px;
    padding: 0px;
}

.div-ser{
    cursor: pointer;
    margin-top: 200px;
    height: 400px;
    width: 200px;
    align-items: center;
    
    /* margin-left: 30px; */
}
.div-ser h1{
    margin-top: 25px;
    margin-Bottom: 20px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 500;
    color: rgb(75, 72, 72);
    padding: 0;
}
.div-ser p{
    color: gray;
    font-size: 15px;
    text-align: justify;
}
/* icon style */
.ser-icon{
padding-top:0px;
height: 40px;
width: 40px;
color: gray;
margin-left: 80px;
}
/* offer style */

.banner-div h1{
    font-size: 35px;
    font-family:'ariel';
    color:rgb(29, 2, 2);
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 1.4;
    text-transform: uppercase;
    font-style: italic;
    margin-left: 40%;
    margin-top: 140px;
    margin-bottom: 150px;
    padding: 0px;
}
.banner-div img{
    width: 90%;
    margin-left: 80px;

}
.dress-div{
    display:grid;
    width: 100%;
}
.dress-div h1{
    font-size: 30px;
    font-family:'ariel';
    color:rgb(29, 2, 2);
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 1.4;
    text-transform: uppercase;
    font-style: italic;
    margin-left: 30px;
    margin-top: 170px;
    margin-bottom: 90px;
    padding: 0px;
}
.dress-div p{
    color: rgb(52, 52, 52);
    font-size: 16px;
    text-align:justify;
    padding-left: 30px;
}
.dress-div img{
    margin-left: 190px;
    margin-top: 120px;
   height: 350px;
   width: 1000px;
}