.navbar {
    display: flex;
    height: 80px;
    width: 98%;
}

.logoimg {
  margin-left: 30px;
    height: 70px;
    width: 100px;
    border-radius: 20px;
}

/* dropdown */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    list-style-type: none;
    z-index: 1000;
    min-width: 150px;
  }
.dropdown-item {
    padding: 10px 15px;
    white-space: nowrap;
  }
  
  .dropdown-item:hover {
    background-color: #f0f0f0;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  .nav-li {
    position: relative;
    padding: 10px 15px;
    cursor: pointer;
  }  

.nav-li {
    list-style-type: none;
    padding: 30px 30px;
}

.search-ip {
    padding-left: 50px;
    background-color: rgb(241, 249, 255);
    height: 30px;
    width: 300px;
    margin-bottom: 10px;
}

.div-ull {
    display: flex;
    
}
.btton{
    width: 80px;
    height: 40px;
    border: 1px solid rgb(43, 4, 4);
    background: none;
    color: rgb(11, 0, 0);
    border-radius: 20px;
   margin-bottom: 10px;
  }
.btton:hover{
  background-color:rgb(39, 2, 2);
  color:whitesmoke;
}    

.cart-icon-contain{
  position:relative;
  /* overflow: hidden; */
  margin-top: 0px;
  cursor: pointer;
  

}

.cart-count{
  /* background-color:blue; */
  width: 25px;
  padding-left:10px;
  border-radius: 50px;
  margin: 0%;
  right: 8px;
  bottom: 20px;
  cursor: pointer;
  position: absolute;
  /* overflow: hidden; */

}



/* media queries */

@media screen and (max-width: 768px) {
  .navbar {
    display: flex;
    height: 80px;
    width: 400vh;
}

.logoimg {
  margin-left: 30px;
    height: 70px;
    width: 100px;
    border-radius: 20px;
}

/* dropdown */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    list-style-type: none;
    z-index: 1000;
    min-width: 150px;
  }
.dropdown-item {
    padding: 10px 15px;
    white-space: nowrap;
  }
  
  .dropdown-item:hover {
    background-color: #f0f0f0;
  }
  .navbar-cart{
    display: flex;
    align-items: center;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  .nav-li {
    position: relative;
    padding: 10px 15px;
    float: right;
    cursor: pointer;
  }  

.nav-li {
    list-style-type: none;
    padding: 30px 30px;
}

.search-ip {
    padding-left: 10px;
    background-color: rgb(241, 249, 255);
    height: 30px;
    width: 200px;
    margin-bottom: 10px;
}

.div-ull {
    display: flex;
    
}
.btton{
    width: 80px;
    height: 40px;
    border: 1px solid rgb(43, 4, 4);
    background: none;
    color: rgb(11, 0, 0);
    border-radius: 20px;
   margin-bottom: 10px;
  }
.btton:hover{
  background-color:rgb(39, 2, 2);
  color:whitesmoke;
}    

.cart-icon-contain{
  position:relative;
  /* overflow: hidden; */
  margin-top: 0px;
  cursor: pointer;
  

}

.cart-count{
  /* background-color:blue; */
  width: 25px;
  padding-left:10px;
  border-radius: 50px;
  margin: 0%;
  right: 8px;
  bottom: 20px;
  cursor: pointer;
  position: absolute;
  /* overflow: hidden; */

}

}




